h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding: 0;
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.conteiner {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 320px) {
    min-width: 280px;
  }

  @media screen and (min-width: 480px) {
    width: 420px;
  }

  @media screen and (min-width: 768px) {
    width: 700px;
    padding-left: 34px;
    padding-right: 34px;
  }

  @media screen and (min-width: 1200px) {
    width: 1050px;
    padding-left: 75px;
    padding-right: 75px;
  }
}

.header__conteiner{
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 320px) and (max-width: 479px) {
    min-width: 280px;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 420px;
  }

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    width: 700px;
  }

  @media screen and (min-width: 1200px) {
    width: 1050px;
    padding-right: 0px;
    padding-left: 0px;
  }
}