.header {
  position: relative;
}

.header__modal {
  width: 250px;
  height: 100vh;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 99;
  background-color: #e17992;
}

.header__modal__btn__conteiner {
  width: 100%;
  padding-left: 21px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}

.header__modal__btn-close {
  background-color: transparent;
  border-color: transparent;
  position: absolute;
  top: 23px;
  right: 28px;
  cursor: pointer;
}

.header__modal__btn-order {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.31;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #d41443;
  cursor: pointer;
  border-radius: 22px;
  border: 0px;
  margin-top: 60px;
  width: 100%;
  height: 44px;
}

.header__btn__after::after {
  border: 2px solid #d41443;
  margin-left: 16px;
  background-color: #d41443;
}

.navigation__modal__list__item {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #ffffff;
  border: 1px solid #e18298;
  height: 42px;
  padding-left: 21px;
}

.navigation__modal__list__link {
  text-decoration: none;
  color: var(--main-text-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
