:root {
  --main-bg-color: #ffffff;
  --second-bg-color: #fff5f6;
  --header-bg-color: #ffb8ca;
  --main-text-color: #ffffff;
  --second-text-color: #000000;
  --third-text-color: #907e82;
  --accent-color: #d41443;
  --accent-bg-first-button: #ecebeb;
  --accent-bg-second-button: #c7133e;

  /*розовый цвет текста над заголовком сейций и так-же карточек под отзывами*/
  --accent-text-color: #ffa5ba;

  /*фоновые цвета карточек в секции products*/
  --bg-color-first-cart: rgb(255, 184, 202);
  --bg-color-second-cart: #f0d1a5;
  --bg-color-third-cart: #c2e297;
}
