:root {
    --main-bg-color: #ffffff;
    --second-bg-color: #FFF5F6;
    --header-bg-color: #FFB8CA;
    --main-text-color: #ffffff;
    --second-text-color: #000000;
    --third-text-color: #907E82;
    --accent-color: #D41443;
    --accent-bg-first-button: #ECEBEB;
    --accent-bg-second-button: #C7133E;

    /*розовый цвет текста над заголовком сейций и так-же карточек под отзывами*/
    --accent-text-color: #FFA5BA;

    /*фоновые цвета карточек в секции products*/
    --bg-color-first-cart: #FFB8CA;
    --bg-color-second-cart: #F0D1A5;
    --bg-color-third-cart: #C2E297;
    
}