<section class="advantages">
  <div class="advantages-container container">
    <h2 class="visually-hidden">Advantage</h2>
    <ul class="advantages-set">
      <li class="advantages-set__item milk-icon">
        <h3 class="advantages-set__heading">721</h3>
        <p class="advantages-set__discription">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-set__item fruits-icon">
        <h3 class="advantages-set__heading">16kg</h3>
        <p class="advantages-set__discription">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-set__item caramel-icon">
        <h3 class="advantages-set__heading">84</h3>
        <p class="advantages-set__discription">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
