<section class="slide-section">
    <div class="container slide-section-container">
        <h2 class="is-hidden">Customers Reviews</h2>

        <div>
            <div class="slider">
                <div>
                    <div class="user-photo">
                        <img src="./images/vladimir.jpg" alt="Vladimir" width="85" height="85" />

                    </div>

                    <div class="user-review">
                        
                        <div class="p-field-gradient">
                            <p class="example">
                                Non importa dove mi trovo, a Milano o vado in vacanza all'Ibiza o sono a Berlino per
                                lavoro, lo trovo ovunque. Non posso farmi mancare il gustosissimo milkshake
                                SummerFreshness. Provatelo anche voi!
                            </p>
                            <div class="gradient"></div>
                        
                        </div>
                    </div>
                    <div>
                        <svg class="red-dot" width="4px" height="4px">
                            <use href="./images/icon-c-r.svg#icon-cicrle"></use>
                        </svg>
                        <svg class="red-dot" width="4px" height="4px">
                            <use href="./images/icon-c-r.svg#icon-cicrle"></use>
                        </svg>
                        <svg class="red-dot" width="4px" height="4px">
                            <use href="./images/icon-c-r.svg#icon-cicrle"></use>
                        </svg>
                    </div>
                    <div class="user-title">
                        <p class="user">Vladimir, Krivoy Rog</p>
                    </div>
                </div>
                <div>
                    <div class="user-photo">
                        <img src="./images/Yuliia.jpg" alt="Yuliia" width="85" height="85" />

                    </div>

                    <div class="user-review">
                        <div class="p-field-gradient">
                            <p class="example">
                                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                            </p>
                            <div class="gradient"></div>
                        </div>
                    </div>
                    <div>
                        <svg class="red-dot" width="4px" height="4px">
                            <use href="./images/icon-c-r.svg#icon-cicrle"></use>
                        </svg>
                        <svg class="red-dot" width="4px" height="4px">
                            <use href="./images/icon-c-r.svg#icon-cicrle"></use>
                        </svg>
                        <svg class="red-dot" width="4px" height="4px">
                            <use href="./images/icon-c-r.svg#icon-cicrle"></use>
                        </svg>
                    </div>
                    <div class="user-title">
                        <p class="user">Yuliia, Sumy</p>
                    </div>
                </div>
                <div>
                    <div class="user-photo">
                        <img src="./images/Nazar.jpg" alt="Nazar" width="85" height="85" />

                    </div>

                    <div class="user-review">
                        <div class="p-field-gradient">
                            <p class="example">
                                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                            </p>
                            <div class="gradient"></div>
                        </div>
                    </div>
                    <div>
                        <svg class="red-dot" width="4px" height="4px">
                            <use href="./images/icon-c-r.svg#icon-cicrle"></use>
                        </svg>
                        <svg class="red-dot" width="4px" height="4px">
                            <use href="./images/icon-c-r.svg#icon-cicrle"></use>
                        </svg>
                        <svg class="red-dot" width="4px" height="4px">
                            <use href="./images/icon-c-r.svg#icon-cicrle"></use>
                        </svg>
                    </div>
                    <div class="user-title">
                        <p class="user">Nazar, Buchach Ternopil region</p>
                    </div>
                </div>
                <div>
                    <div class="user-photo">
                        <img src="./images/Alexandr.jpg" alt="Alexandr" width="85" height="85" />

                    </div>

                    <div class="user-review">
                        <div class="p-field-gradient">
                            <p class="example">
                                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                            </p>
                            <div class="gradient"></div>
                        </div>
                    </div>
                    <div>
                        <svg class="red-dot" width="4px" height="4px">
                            <use href="./images/icon-c-r.svg#icon-cicrle"></use>
                        </svg>
                        <svg class="red-dot" width="4px" height="4px">
                            <use href="./images/icon-c-r.svg#icon-cicrle"></use>
                        </svg>
                        <svg class="red-dot" width="4px" height="4px">
                            <use href="./images/icon-c-r.svg#icon-cicrle"></use>
                        </svg>
                    </div>
                    <div class="user-title">
                        <p class="user">Alexander, Ternopil</p>
                    </div>
                </div>
                <div>
                    <div class="user-photo">
                        <img src="./images/Maksim.jpg" alt="Maksim" width="85" height="85" />

                    </div>

                    <div class="user-review">
                        <div class="p-field-gradient">
                            <p class="example">
                                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                            </p>
                            <div class="gradient"></div>
                        </div>
                    </div>
                    <div>
                        <svg class="red-dot" width="4px" height="4px">
                            <use href="./images/icon-c-r.svg#icon-cicrle"></use>
                        </svg>
                        <svg class="red-dot" width="4px" height="4px">
                            <use href="./images/icon-c-r.svg#icon-cicrle"></use>
                        </svg>
                        <svg class="red-dot" width="4px" height="4px">
                            <use href="./images/icon-c-r.svg#icon-cicrle"></use>
                        </svg>
                    </div>
                    <div class="user-title">
                        <p class="user">Maksim, Rivne</p>
                    </div>
                </div>
                