<section class="container">
    <div class="gallery-list">
        <fidura class="gallery-list__item gallery-list__item--1">
            <a href="https://www.pinterest.ru/pin/597712181807482050/" class="gallery-list__link">
                <source srcset="../src/images/carts-gallery/desktop/img1.webp 1x, ./images/carts-gallery/desktop/img1@2x.webp 2x" type="img/webp"></source>
                <source srcset="../src/images/carts-gallery/desktop/img1.webp 1x, ./images/carts-gallery/desktop/img1@2x.webp 2x" type="img/"></source>
                <img src="../images/carts-gallery/ice_cream_cart-1.png" alt="Ice cream with pistachios" class="gallery-list__img">
            </a>
        </fidura>
        <fidura class="gallery-list__item gallery-list__item--2">
            <a href="" class="gallery-list__link">
                <source></source>
                <source></source>
                <img src="../images/carts-gallery/ice_cream_cart-2.png" alt="Mix ice cream"  class="gallery-list__img">
            </a>
        </fidura>
        <fidura class="gallery-list__item gallery-list__item--3">
            <a href="" class="gallery-list__link">
                <source></source>
                <source></source>
                <img src="../images/carts-gallery/ice_cream_cart-3.png" alt="Ice cream with raspberry"  class="gallery-list__img">
            </a>
        </fidura>
        <fidura class="gallery-list__item gallery-list__item--4">
            <a href="" class="gallery-list__link">
                <source></source>
                <source></source>
                <img src="../images/carts-gallery/ice_cream_cart-4.png" alt="Different types of ice cream" class="gallery-list__img">
            </a>
        </fidura>
        <fidura class="gallery-list__item gallery-list__item--5">
            <a href="" class="gallery-list__link">
                <source></source>
                <source></source>
                <img src="../images/carts-gallery/ice_cream_cart-5.png" alt="The girl with ice cream" class="gallery-list__img">
            </a>
        </fidura>
        <fidura class="gallery-list__item gallery-list__item--6">
            <a href="" class="gallery-list__link">
                <source></source>
                <source></source>
                <img src="../images/carts-gallery/ice_cream_cart-6.png" alt="Fruits ice cream" class="gallery-list__img">
            </a>
        </fidura>
        <fidura class="gallery-list__item gallery-list__item--7">
            <a href="" class="gallery-list__link">
                <source></source>
                <source></source>
                <img src="../images/carts-gallery/ice_cream_cart-7.png" alt="Ice cream in hand" class="gallery-list__img">
            </a>
        </fidura>
        <fidura class="gallery-list__item gallery-list__item--8">
            <a href="" class="gallery-list__link">
                <source></source>
                <source></source>
                <img src="../images/carts-gallery/ice_cream_cart-8.png" alt="The dog eating ice cream" class="gallery-list__img">
            </a>
        </fidura>
        <fidura class="gallery-list__item gallery-list__item--9">
            <a href="" class="gallery-list__link">
                <source></source>
                <source></source>
                <img src="../images/carts-gallery/ice_cream_cart-9.png" alt="Chocolate milkshake" class="gallery-list__img">
            </a>
        </fidura>
        <fidura class="gallery-list__item gallery-list__item--10">
            <a href="" class="gallery-list__link">
                <source></source>
                <source></source>
                <img src="../images/carts-gallery/ice_cream_cart-10.png" alt="A lot of sweets" class="gallery-list__img">
            </a>
        </fidura>
    </div>
</section>