<section class="gallery">
    <div class="container gallery-list">
        <fidura class="gallery-list__item gallery-list__item--1">
            <a href="https://www.pinterest.ru/pin/597712181807482050/" target="_blank" class="gallery-list__link">
                <source srcset="./images/carts-gallery/desktop/img1.webp 1x, ./images/carts-gallery/desktop/img1@2x.webp 2x" type="img/webp"></source>
                <source srcset="./images/carts-gallery/desktop/img1.jpg 1x, ./images/carts-gallery/desktop/img1@2x.jpg 2x" type="image/jpeg"></source>
                <img src="./images/carts-gallery/ice_cream_cart-1.png" alt="Ice cream with pistachios" class="gallery-list__img">
            </a>
        </fidura>
        <fidura class="gallery-list__item gallery-list__item--2">
            <a href="https://www.pinterest.ru/pin/597712181807482053/" class="gallery-list__link">
                <source srcset="./images/carts-gallery/desktop/img2.webp 1x, ./images/carts-gallery/desktop/img2@2x.webp 2x" type="img/webp"></source>
                <source srcset="./images/carts-gallery/desktop/img2.jpg 1x, ./images/carts-gallery/desktop/img2@2x.jpg 2x" type="image/jpeg"></source>
                <img src="./images/carts-gallery/ice_cream_cart-2.png" alt="Mix ice cream"  class="gallery-list__img">
            </a>
        </fidura>
        <fidura class="gallery-list__item gallery-list__item--3">
            <a href="https://www.pinterest.ru/pin/597712181807482066/" class="gallery-list__link" target="_blank" class="gallery-list__link">
                <source srcset="./images/carts-gallery/desktop/img3.webp 1x, ./images/carts-gallery/desktop/img3@2x.webp 2x" type="img/webp"></source>
                <source srcset="./images/carts-gallery/desktop/img3.jpg 1x, ./images/carts-gallery/desktop/img3@2x.jpg 2x" type="image/jpeg"></source>
                <img src="./images/carts-gallery/ice_cream_cart-3.png" alt="Ice cream with raspberry"  class="gallery-list__img">
            </a>
        </fidura>
        <fidura class="gallery-list__item gallery-list__item--4">
            <a href="https://www.pinterest.ru/pin/597712181807482065/" class="gallery-list__link" target="_blank" class="gallery-list__link">
                <source srcset="./images/carts-gallery/desktop/img4.webp 1x, ./images/carts-gallery/desktop/img4@2x.webp 2x" type="img/webp"></source>
                <source srcset="./images/carts-gallery/desktop/img4.jpg 1x, ./images/carts-gallery/desktop/img4@2x.jpg 2x" type="image/jpeg"></source>
                <img src="./images/carts-gallery/ice_cream_cart-4.png" alt="Different types of ice cream" class="gallery-list__img">
            </a>
        </fidura>
        <fidura class="gallery-list__item gallery-list__item--5">
            <a href="https://www.pinterest.ru/pin/597712181807482077/" class="gallery-list__link" target="_blank" class="gallery-list__link">
                <source srcset="./images/carts-gallery/desktop/img5.webp 1x, ./images/carts-gallery/desktop/img5@2x.webp 2x" type="img/webp"></source>
                <source srcset="./images/carts-gallery/desktop/img5.jpg 1x, ./images/carts-gallery/desktop/img5@2x.jpg 2x" type="image/jpeg"></source>
                <img src="./images/carts-gallery/ice_cream_cart-5.png" alt="The girl with ice cream" class="gallery-list__img">
            </a>
        </fidura>
        <fidura class="gallery-list__item gallery-list__item--6">
            <a href="https://www.pinterest.ru/pin/597712181807482080/" class="gallery-list__link" target="_blank" class="gallery-list__link">
                <source srcset="./images/carts-gallery/desktop/img6.webp 1x, ./images/carts-gallery/desktop/img6@2x.webp 2x" type="img/webp"></source>
                <source srcset="./images/carts-gallery/desktop/img6.jpg 1x, ./images/carts-gallery/desktop/img6@2x.jpg 2x" type="image/jpeg"></source>
                <img src="./images/carts-gallery/ice_cream_cart-6.png" alt="Fruits ice cream" class="gallery-list__img">
            </a>
        </fidura>
        <fidura class="gallery-list__item gallery-list__item--7">
            <a href="https://www.pinterest.ru/pin/597712181807482059/" class="gallery-list__link" target="_blank" class="gallery-list__link">
                <source srcset="./images/carts-gallery/desktop/img7.webp 1x, ./images/carts-gallery/desktop/img7@2x.webp 2x" type="img/webp"></source>
                <source srcset="./images/carts-gallery/desktop/img7.jpg 1x, ./images/carts-gallery/desktop/img7@2x.jpg 2x" type="image/jpeg"></source>
                <img src="./images/carts-gallery/ice_cream_cart-7.png" alt="Ice cream in hand" class="gallery-list__img">
            </a>
        </fidura>
        <fidura class="gallery-list__item gallery-list__item--8">
            <a href="hhttps://www.pinterest.ru/pin/597712181807482027/" class="gallery-list__link" target="_blank" class="gallery-list__link">
                <source srcset="./images/carts-gallery/desktop/img8.webp 1x, ./images/carts-gallery/desktop/img8@2x.webp 2x" type="img/webp"></source>
                <source srcset="./images/carts-gallery/desktop/img8.jpg 1x, ./images/carts-gallery/desktop/img8@2x.jpg 2x" type="image/jpeg"></source>
                <img src="./images/carts-gallery/ice_cream_cart-8.png" alt="The dog eating ice cream" class="gallery-list__img">
            </a>
        </fidura>
        <fidura class="gallery-list__item gallery-list__item--9">
            <a href="https://www.pinterest.ru/pin/597712181807482068/" class="gallery-list__link" target="_blank" class="gallery-list__link">
                <source srcset="./images/carts-gallery/desktop/img9.webp 1x, ./images/carts-gallery/desktop/img9@2x.webp 2x" type="img/webp"></source>
                <source srcset="./images/carts-gallery/desktop/img9.jpg 1x, ./images/carts-gallery/desktop/img9@2x.jpg 2x" type="image/jpeg"></source>
                <img src="./images/carts-gallery/ice_cream_cart-9.png" alt="Chocolate milkshake" class="gallery-list__img">
            </a>
        </fidura>
        <fidura class="gallery-list__item gallery-list__item--10">
            <a href="https://www.pinterest.ru/pin/597712181807482078/" class="gallery-list__link" target="_blank" class="gallery-list__link">
                <source srcset="./images/carts-gallery/desktop/img10.webp 1x, ./images/carts-gallery/desktop/img10@2x.webp 2x" type="img/webp"></source>
                <source srcset="./images/carts-gallery/desktop/img10.jpg 1x, ./images/carts-gallery/desktop/img10@2x.jpg 2x" type="image/jpeg"></source>
                <img src="./images/carts-gallery/ice_cream_cart-10.png" alt="A lot of sweets" class="gallery-list__img">
            </a>
        </fidura>
    </div>
</section>