<section class="hero">
  <div class="hero_left_sidebar">
    <div class="hero_title">
      <span>ice cream made with </span>
      <span>passion</span>
    </div>
    <div class="hero_btn_group">
      <div class="btn btn__primary">Products</div>
      <div class="btn btn__secondary">How it’s made?</div>
    </div>

    <div class="hero_milk">
      <div class="hero_milk_image"></div>
      <div class="hero_milk_desk">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <div class="btn btn__arrow"></div>
      </div>
    </div>
  </div>

  <div class="hero_right_sidebar">
    <div class="hero_counter">
      <div class="hero_counter_number">16</div>
      <div class="hero_counter_text">cafes</div>
    </div>
    <div class="hero_counter">
      <div class="hero_counter_number">23</div>
      <div class="hero_counter_text">food trucks</div>
    </div>
  </div>

  <div class="hero_icecream">
    <div class="hero_icecream_image"></div>
    <div class="hero_icecream_circle"></div>
  </div>

  <div class="hero_lady">
    <div class="hero_lady_image"></div>
    <div class="hero_lady_circle"></div>
  </div>
</section>
