<section class="hero">
  <div class="container">
    <h1 class="hero-title">Ice cream made with <span class="hero-title__accent">passion</span></h1>
    <ul class="list hero-list">
      <li class="hero-list__item"><a class="hero-list__link" href="#products">Products</a></li>
      <li class="hero-list__item"><a class="hero-list__link" href="#about">How it’s made?</a></li>
    </ul>
    <div class="hero-about">
      <div class="hero-milk-image"></div>
      <div>
        <p class="hero-about__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <p class="hero-about__add-text is-hidden">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et ducimus nesciunt laborum possimus numquam adipisci ut.
        </p>
        <button class="hero-about__btn" type="button"></button>
      </div>
    </div>
    <div class="hero-icecream-image"></div>
    <ul class="hero-benefits list">
      <li class="hero-benefits__item">
        <p class="hero-benefits__text"><span>16</span>cafes</p>
      </li>
      <li class="hero-benefits__item">
        <p class="hero-benefits__text"><span>23</span>food-trucks</p>
      </li>
    </ul>
    <div class="girl_image"></div>
  </div>
</section>
