.advantages {
  padding-top: 40px;
  padding-bottom: 145px;
  background: var(--second-bg-color);

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 70px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 40px;
    padding-bottom: 70px;
  }
}


.advantages-container {
  padding-left: 20px;
  padding-right: 70px;

  @media screen and (min-width: 480px) {
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (min-width: 768px) {
    padding-left: 35px;
    padding-right: 75px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 115px;
    padding-right: 115px;
  }
}

.advantages-set {
  padding: 0;

  @media screen and (min-width: 768px) {
    display: flex;
    &:not(:last-child) {
      margin-right: 60px;
    }
  }

  @media screen and (min-width: 1280px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.milk-icon::before {
  content: '';
  display: inline-block;
  width: 33px;
  height: 50px;
  background-image: url(../images/advantages-img/milk.png);
  display: inline-block;
  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
    margin-bottom: 35px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }
}

.fruits-icon::before {
  content: '';
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(../images/advantages-img/fruits.png);
  display: inline-block;
  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
    margin-bottom: 35px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }
}

.caramel-icon::before {
  content: '';
  display: inline-block;
  width: 44px;
  height: 50px;
  background-image: url(../images/advantages-img/caramel.png);
  display: inline-block;
  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
    margin-bottom: 35px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }
}

.advantages-set__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 38px;
    }
  }

  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 60px;
    }
  }
}

.advantages-set__heading {
  margin-bottom: 20px;
  font-family: Titan One;
  font-style: normal;

  font-size: 36px;
  line-height: 1.07;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--accent-color);

  @media screen and (min-width: 768px) {
    margin-bottom: 15px;
    font-size: 48px;
    line-height: 1.14;
  }

  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 1.14;
  }
}

.advantages-set__discription {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.6;

  color: var(--second-text-color);

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.7;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.02em;
  }
}
