.slide-section {
  background-color: var(--main-text-color);
  color: var(--second-text-color);
  padding-top: 80px;
  padding-bottom: 86px;
  @media screen and (min-width: 768px) {
    padding-top: 121px;
    padding-bottom: 119px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 123px;
    padding-bottom: 132px;
  }
}

.slick-slide img {
  border-radius: 50%;
}

.gradient {
  position: absolute;
  top: 38px;
  left: 50px;
  display: inline-block;
  width: 180px;
  height: 250px;
  background-image: repeating-linear-gradient(
    to bottom,
    transparent 0px,
    transparent 29px,
    #e1e1e1 1px,
    #e1e1e1 30px
  );
  @media screen and (min-width: 768px) {
    top: 40px;
    left: 50px;
    width: 524px;
    height: 100px;
    background-image: repeating-linear-gradient(
      to bottom,
      transparent 0px,
      transparent 32px,
      #e1e1e1 1px,
      #e1e1e1 33px
    );
  }
  @media screen and (min-width: 1280px) {
    width: 813px;
    height: 80px;
  }
}
.slide-section-container {
  position: relative;
  display: block;
  text-align: center;
}
.user-photo {
  display: flex;
  justify-content: center;
  border-radius: 50%;

  margin-bottom: 29px;
  @media screen and (min-width: 768px) {
    margin-bottom: 19px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
  }
}

.user-photo img {
  width: 85px;
  height: 85px;
}

.user-review {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  padding: 0;
  width: 280px;
  height: 100%;
  background-color: #fafafa;
  @media screen and (min-width: 768px) {
    width: 620px;
    height: 164px;
    margin-bottom: 24px;
  }
  @media screen and (min-width: 1280px) {
    width: 926px;
    height: 138px;
    margin-bottom: 15px;
  }
}

.p-field-gradient {
  padding: 43px 66px 26px 57px;
  text-align: center;
  position: relative;
  @media screen and (min-width: 768px) {
    padding: 0;
  }
}

.example {
  position: relative;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  @media screen and (min-width: 768px) {
    font-size: 15px;
    line-height: 2.1;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 47px;
    padding-bottom: 34px;
  }
}

.p-field-gradient::before {
  position: absolute;
  top: 25px;
  left: 60px;
  content: '';
  // background-image: url(/images/qw.png);
  padding-left: 0;
  z-index: -1;
  @media screen and (min-width: 768px) {
    top: 25px;
    left: 40px;
  }
}

.user {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    margin-bottom: 35px;
  }
}

.user-title {
  margin-top: 18px;
  @media screen and (min-width: 768px) {
    margin-top: 15px;
  }
}

.red-dot {
  fill: #c7133e;
}

.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;

  // @media screen and (max-width: 767px) {
  //   display: none;
  // }
}

.slick-dots li {
  margin: 0 7px;
}

.slick-dots li.slick-active button {
  background-color: #c7133e;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.slick-dots li button {
  font-size: 0;
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
  border-radius: 50%;
  border: transparent;
  cursor: pointer;
}
