.location-button {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  height: 44px;
  border: 0;
  background: var(--accent-color);
  border-radius: 22px;

  font-family: DM Sans;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  color: var(--main-text-color);

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), translateX 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #d41342;
    box-shadow: 0px 4px 4px rgba(116, 23, 23, 0.253);
  }
}

.location-button__icon {
  position: absolute;
  top: 19px;
  right: 25px;

  .location-button:focus &,
  .location-button:hover & {
    transform: translateX(10px);
  }
}

.location-button-close {
  position: absolute;
  display: block;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  padding: 6px;
  border-radius: 50%;

  cursor: pointer;

  background-color: var(--accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);

  @media screen and (min-width: 768px) {
    top: 10px;
    right: 10px;
  }

  @media screen and (min-width: 1280px) {
    top: 30px;
    right: 50px;
  }

  &:hover,
  &:focus {
    background-color: #d41442;
    box-shadow: 0px 4px 4px rgba(116, 23, 23, 0.253);
  }

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.location-button-close__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-location {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  padding: 30px 15px;

  @media screen and (min-width: 480px) {
    width: 450px;
    padding: 40px 30px;
  }

  @media screen and (min-width: 768px) {
    width: 600px;
    padding: 50px;
  }

  @media screen and (min-width: 1280px) {
    width: 700px;
    padding: 70px;
  }

  border-radius: 4px;

  background-color: var(--main-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-location {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop--hidden .modal-window {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal-location__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.map-container {
  width: 100px;
  height: 100px;
  background-color: gray;

  @media screen and (min-width: 480px) {
    width: 160px;
    height: 120px;
  }

  @media screen and (min-width: 768px) {
    width: 220px;
    height: 150px;
  }

  @media screen and (min-width: 1280px) {
    width: 300px;
    height: 200px;
  }
}

.location-map__set {
  margin-right: 30px;
}

.location-map__item:not(:last-child) {
  margin-bottom: 15px;
}

.location-map__link {
  display: block;
  width: 100%;
  height: 100%;
}

.location-set__city {
  font-family: Titan One;
  font-style: normal;

  font-size: 20px;
  line-height: 1.86;

  letter-spacing: 0.04em;
  text-align: center;

  color: #d41443;

  @media screen and (min-width: 480px) {
    font-size: 28px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
  }
}

.location-contacts__item {
  text-decoration: none;
}

.location-contacts__link {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.83;
  color: #907e82;

  @media screen and (min-width: 1280px) {
    font-size: 20px;
  }
}

.location-set {
  display: flex;
  flex-direction: column;
  margin: 0;

  @media screen and (min-width: 480px) {
    align-items: stretch;
    justify-content: space-between;
    height: 380px;
  }

  @media screen and (min-width: 768px) {
    height: 460px;
    align-items: stretch;
  }

  @media screen and (min-width: 1280px) {
    height: 550px;
    align-items: center;
  }
}

.location-set__item::after {
  content: '';
  display: block;
  width: 40px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 8px dotted #d41443;
}
