.section {
  padding-top: 100px;
  padding-bottom: 100px;
  @media screen and (min-width: 768px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.title {
  font-family: Titan One;

  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--accent-color);

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.14;
  }
  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 1.14;
  }
}

.sub-title {
  font-family: Titan One, cursive;

  font-size: 18px;
  line-height: 1.17;

  text-align: center;
  text-transform: uppercase;

  color: var(--accent-text-color);

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13;
  }
}

.section-products__sub-title {
  margin-bottom: 15px;
}

.section-products__title {
  margin-bottom: 144px;

  @media screen and (min-width: 768px) {
    margin-bottom: 150px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 260px;
  }
}

.products-list {
  list-style: none;

  @media screen and (min-width: 768px) {
    display: flex;
    margin: -10px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin: -12px;
  }
}

.products-list__item {
  @media screen and (min-width: 768px) {
    width: calc((100% - 40px) / 3);
    margin: 10px;
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 40px) / 3);
    margin: 12px;
  }
}

.products-list__card {
  position: relative;

  max-width: 400px;
  margin: 0 auto;
  padding-top: 161px;
  padding-bottom: 40px;

  border-radius: 24px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    max-width: 330px;
  }
}

.products-list__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 130px;
  }
}

.products-list__item:nth-child(1) .card {
  background-color: var(--bg-color-first-cart);
  &::before {
    position: absolute;

    top: -113px;
    left: 50%;
    transform: translateX(-50%);

    content: ' ';
    display: inline-block;
    width: 249px;
    height: 252px;
    background-image: url(../images/products1.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/products1@2x.png);
      background-size: cover;
    }
    @media screen and (min-width: 768px) {
      top: -104px;
      width: 220px;
      height: 226px;
      background-image: url(../images/products1tablet.png);

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/products1tablet@2x.png);
      }
    }
    @media screen and (min-width: 1200px) {
      top: -210px;

      width: 335px;
      height: 335px;
      background-image: url(../images/products1desktop.png);

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/products1desktop@2x.png);
      }
    }
  }
}
.products-list__item:nth-child(2) .card {
  background-color: var(--bg-color-second-cart);
  &::before {
    position: absolute;

    top: -113px;
    left: 50%;
    transform: translateX(-50%);

    content: ' ';
    display: inline-block;
    width: 249px;
    height: 252px;
    background-image: url(../images/products2.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/products2@2x.png);
      background-size: cover;
    }
    @media screen and (min-width: 768px) {
      top: -111px;
      width: 220px;
      height: 233px;
      background-image: url(../images/products2tablet.png);
      background-size: cover;

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/products2tablet@2x.png);
        background-size: cover;
      }
    }
    @media screen and (min-width: 1200px) {
      top: -210px;
      width: 337px;
      height: 335px;
      background-image: url(../images/products2desktop.png);
      background-size: cover;

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/products2desktop@2x.png);
        background-size: cover;
      }
    }
  }
}
.products-list__item:nth-child(3) .card {
  background-color: var(--bg-color-third-cart);
  &::before {
    position: absolute;

    top: -113px;
    left: 50%;
    transform: translateX(-50%);

    content: ' ';
    display: inline-block;
    width: 249px;
    height: 252px;
    background-image: url(../images/products3.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/products3@2x.png);
      background-size: cover;
    }
    @media screen and (min-width: 768px) {
      top: -102px;
      width: 220px;
      height: 224px;
      background-image: url(../images/products3tablet.png);
      background-size: cover;

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/products3tablet@2x.png);
        background-size: cover;
      }
    }
    @media screen and (min-width: 1200px) {
      top: -210px;
      width: 335px;
      height: 335px;
      background-image: url(../images/products3desktop.png);
      background-size: cover;

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/products3desktop@2x.png);
        background-size: cover;
      }
    }
  }
}

.products-list__title {
  font-family: Titan One;

  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;

  margin-bottom: 30px;

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #ffffff;
  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.33;
  }
}

.products-list__text-container {
  margin: 0 auto 30px;

  max-width: 205px;

  &::before {
    content: '';

    margin-bottom: 30px;

    display: inline-block;
    width: 26px;
    height: 6px;

    background-image: url(../images/title-after.png);
  }

  @media screen and (min-width: 768px) {
    padding: 0 10px;
  }
  @media screen and (min-width: 1200px) {
    margin: 0 auto 60px;
    padding: 0;
    max-width: 241px;
  }
}

.products-list__text {
  font-family: dm sans, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;

  color: #ffffff;
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.75;
  }
}

.text-hidden {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    line-height: 1.78;
    letter-spacing: 0.04em;
  }
}

.products-list__button {
  position: relative;

  width: 40px;
  height: 40px;

  background-color: white;
  border: 0 solid;
  border-radius: 50%;

  cursor: pointer;

  background-image: url(../images/arrow-right.png);
}
