.section {
  padding-top: 100px;
  padding-bottom: 100px;
  @media screen and (min-width: 768px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.title {
  font-family: 'Titan One';

  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--accent-color);

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.14;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 1.14;
  }
}

.sub-title {
  font-family: 'Titan One', cursive;

  font-size: 18px;
  line-height: 1.17;

  text-align: center;
  text-transform: uppercase;

  color: var(--accent-text-color);

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
  }
}

.section-products__sub-title {
  margin-bottom: 15px;
}

.section-products__title {
  margin-bottom: 144px;

  @media screen and (min-width: 768px) {
    margin-bottom: 150px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 260px;
  }
}

.products-list {
  list-style: none;

  @media screen and (min-width: 768px) {
    display: flex;
    margin: -10px;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    margin: -12px;
  }
}

.products-list__item {
  @media screen and (min-width: 768px) {
    width: calc((100% - 40px) / 3);
    margin: 10px;
  }
  @media screen and (min-width: 1280px) {
    width: calc((100% - 40px) / 3);
    margin: 12px;
  }
}

.products-list__card {
  position: relative;

  max-width: 400px;
  margin: 0 auto;
  padding-top: 161px;
  padding-bottom: 40px;

  width: 100%;
  height: 100%;

  border-radius: 24px;
  text-align: center;

  @media screen and (min-width: 1280px) {
    max-width: 330px;
  }
}

.products-list__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 130px;
  }
}

.products-list__item:nth-child(1) .card {
  background-color: var(--bg-color-first-cart);
  &::before {
    position: absolute;
    z-index: 1;
    top: -113px;
    left: 50%;
    transform: translateX(-50%);

    content: ' ';
    display: inline-block;
    width: 249px;
    height: 252px;
    background-image: url(../images/products-img/products1.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/products-img/products1@2x.png);
      background-size: cover;
    }
    @media screen and (min-width: 768px) {
      top: -104px;
      width: 220px;
      height: 226px;
      background-image: url(../images/products-img/products1tablet.png);
      background-size: cover;

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/products-img/products1tablet@2x.png);
        background-size: cover;
      }
    }
    @media screen and (min-width: 1280px) {
      top: -210px;

      width: 335px;
      height: 335px;
      background-image: url(../images/products-img/products1desktop.png);
      background-size: cover;

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/products-img/products1desktop@2x.png);
        background-size: cover;
      }
    }
  }
}
.products-list__item:nth-child(2) .card {
  background-color: var(--bg-color-second-cart);
  &::before {
    position: absolute;
    z-index: 1;
    top: -113px;
    left: 50%;
    transform: translateX(-50%);

    content: ' ';
    display: inline-block;
    width: 249px;
    height: 252px;
    background-image: url(../images/products-img/products2.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/products-img/products2@2x.png);
      background-size: cover;
    }
    @media screen and (min-width: 768px) {
      top: -111px;
      width: 220px;
      height: 233px;
      background-image: url(../images/products-img/products2tablet.png);
      background-size: cover;

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/products-img/products2tablet@2x.png);
        background-size: cover;
      }
    }
    @media screen and (min-width: 1280px) {
      top: -210px;
      width: 337px;
      height: 335px;
      background-image: url(../images/products-img/products2desktop.png);
      background-size: cover;

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/products-img/products2desktop@2x.png);
        background-size: cover;
      }
    }
  }
}
.products-list__item:nth-child(3) .card {
  background-color: var(--bg-color-third-cart);
  &::before {
    position: absolute;
    z-index: 1;
    top: -113px;
    left: 50%;
    transform: translateX(-50%);

    content: ' ';
    display: inline-block;
    width: 249px;
    height: 252px;
    background-image: url(../images/products-img/products3.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/products-img/products3@2x.png);
      background-size: cover;
    }
    @media screen and (min-width: 768px) {
      top: -102px;
      width: 220px;
      height: 224px;
      background-image: url(../images/products-img/products3tablet.png);
      background-size: cover;

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/products-img/products3tablet@2x.png);
        background-size: cover;
      }
    }
    @media screen and (min-width: 1280px) {
      top: -210px;
      width: 335px;
      height: 335px;
      background-image: url(../images/products-img/products3desktop.png);
      background-size: cover;

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/products-img/products3desktop@2x.png);
        background-size: cover;
      }
    }
  }
}

.products-list__title {
  font-family: 'Titan One';

  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;

  margin-bottom: 30px;

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #ffffff;
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.33;
  }
}

.products-list__text-container {
  margin: 0 auto 30px;

  max-width: 200px;

  &::before {
    content: '';

    margin-bottom: 30px;

    display: inline-block;
    width: 26px;
    height: 6px;

    background-image: url(../images/products-img/title-after.png);
  }

  @media screen and (min-width: 768px) {
    padding: 0 10px;
  }
  @media screen and (min-width: 1280px) {
    margin: 0 auto 60px;
    padding: 0;
    max-width: 241px;
  }
}

.products-list__text {
  font-family: 'DM sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;

  color: #ffffff;
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.75;
  }
}

.text-hidden {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    line-height: 1.78;
    letter-spacing: 0.04em;
  }
}

.products-wrapper {
  position: absolute;
  pointer-events: none;

  overflow: hidden;

  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 24px;
}

@keyframes modalGo {
  0% {
    left: -100%;
  }

  100% {
    left: 0;
  }
}
@keyframes modalBack {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

.products-modal {
  position: absolute;

  width: 100%;
  height: 100%;

  left: -100%;
  border-radius: 24px;

  animation: modalBack 500ms forwards;
}
.products-modal--first {
  position: absolute;

  width: 100%;
  height: 100%;

  left: -100%;

  border-radius: 24px;
}
.products-modal--second {
  position: absolute;

  width: 100%;
  height: 100%;

  left: -100%;
  border-radius: 24px;
}

.products-modal--go {
  position: absolute;

  width: 100%;
  height: 100%;

  left: -100%;

  border-radius: 24px;

  animation: modalGo 500ms forwards;
}
.products-modal--back {
  position: absolute;

  width: 100%;
  height: 100%;

  left: -100%;
  border-radius: 24px;

  animation: modalBack 500ms forwards;
}

.products-list__button {
  position: relative;

  width: 40px;
  height: 40px;

  background-color: white;
  border: 0 solid;
  border-radius: 50%;

  cursor: pointer;

  background-image: url(../images/arrow-right.png);

  transform: rotate(540deg);
  transition: transform 500ms 200ms cubic-bezier(0.4, 0, 0.2, 1);
  &--first {
    position: relative;

    width: 40px;
    height: 40px;

    background-color: white;
    border: 0 solid;
    border-radius: 50%;

    cursor: pointer;

    background-image: url(../images/arrow-right.png);

    transform: rotate(0);
    transition: transform 500ms 200ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &--second {
    position: relative;

    width: 40px;
    height: 40px;

    background-color: white;
    border: 0 solid;
    border-radius: 50%;

    cursor: pointer;

    background-image: url(../images/arrow-right.png);

    transform: rotate(0);
    transition: transform 500ms 200ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &--rotate {
    position: relative;

    width: 40px;
    height: 40px;

    background-color: white;
    border: 0 solid;
    border-radius: 50%;

    cursor: pointer;

    background-image: url(../images/arrow-right.png);
    transform: rotate(180deg);
    transition: transform 500ms 200ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &--back {
    position: relative;

    width: 40px;
    height: 40px;

    background-color: white;
    border: 0 solid;
    border-radius: 50%;

    cursor: pointer;

    background-image: url(../images/arrow-right.png);

    transform: rotate(360deg);
    transition: transform 500ms 200ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.products-modal__text-container {
  margin: 0 auto 30px;

  max-width: 200px;

  @media screen and (min-width: 768px) {
    padding: 0 10px;
  }
  @media screen and (min-width: 1280px) {
    margin: 0 auto 20px;
    padding: 0;
    max-width: 241px;
  }
}
.products-modal__text {
  margin-top: 150px;

  font-family: 'DM sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;

  color: #ffffff;

  @media screen and (min-width: 768px) {
    margin-top: 130px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 150px;
    font-size: 16px;
  }
}
#first-mod {
  background-color: rgb(252, 156, 180);
}
#second-mod {
  background-color: #e2b06a;
}
#third-mod {
  background-color: #a2d165;
}
